/* Practice CustomFonts Style Sheet */

.big-shoulders-<uniquifier> {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.websafe{
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.google {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
