/* Tyson Gibson-Bale
April 15, 2025 */
body { 
	background-color: #FFFFFF;
  color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	display: none;
}

header { 
	background-color: #000033;
  color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

nav { 
	background-color: #90C7E3;
  font-weight: bold;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

h1 { 
	margin-bottom: 0; 
  font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 { 
	color: #3399CC; 
  font-family: Georgia, 'Times New Roman', serif;
	display: none;
}
	 
h3 { 
	color: #000033;
  font-family: Georgia, 'Times New Roman', serif; 
}

main ul {
	list-style-image: url('../images/marker.gif');
}

footer { 
	font-size: 75%;
  font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(to bottom, rgba(144,199,227,1), rgba(255,255,255,1));
}
	   
dt { 
	color: #000033; 
}

.resort { 
	color: #5C7FA3; 
  font-weight: bold;
}

.contact { 
	font-size: 90%; 
}

@media (min-width: 641px) {
	img {
		display: block;
		max-width: 100%;
	}
	nav ul {
		display: flex;
		justify-content: space-around;
	}
	h2 {
		display: block;
	}
}