/* Tyson Gibson-Bale
  February 20, 2025 */

header {
  background-color: rgb(86, 147, 218);
}

footer {
  background-color: rgb(86, 147, 218);
}

p, ul, li {
  font-size: 20px;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: purple;
}

footer a:hover {
  color: orange;
}

footer a:active {
  color: green;
}