.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  font-family: "Anton", sans-serif;
  background-color: #A8D6EB;
}

#value {
  background-color: #AEf0CC;
}

#example {
  background-color: #E3ADB9;
}

h2 {
  font-size: 1.5em;
}

.none {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}