input {
  font-size: 1.25rem;
  padding: 5px;
  border: 1px solid #333333;
  transition: all 0.5s ease;
}

input:focus {
  font-size: 1.35rem;
  padding: 10px;
  border: 2px solid rgb(2, 126, 2);
  outline: none;
}