/* Table Styles */
table {
  border: 2px solid #000000;
  background-color: #53c28b;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 20px;
}

caption {
  color: #000000;
  font-size: 24px;
}

thead {
  background-color: #C2538A;
}

tr:nth-child(even) {
  background: #3BA771;
}

/* Showcase Section */
.showcase {
  width: 90%;
  margin: 0 auto;
}

.box {
  background: #FFFFFF;
  border: 1px solid #000000;
  float: left;
  margin: 10px;
  text-align: center;
  width: 31%;
}

.box h3 {
  margin: 10px;
  color:#000000;
}

.box h4.highlight {
  background: rgb(2, 126, 2); 
  color: #FFFFFF;
  padding: 15px;
}

.box a.button {
  display: block;
  width: 40%;
  margin: 10px auto;
  color: #FFFFFF;
  background: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.box a.button:hover {
  background:rgb(2, 126, 2);
  transform: scale(1.05);
}